.pass-for-sale {
    background-color: #D6D3C4;
    padding: 10px;
    border-color:black;
    border-radius: 10px;
    margin: 10px;
    color:#500000;
    text-align: center;
}

.pass-for-sale-titles {
    text-align: center;
    vertical-align: center;
}

.purchase-button {
    color: black;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.query-form {
    background-color: #500000;
    padding:10px;
    border-radius: 10px;
    margin: 10px;
}

.query-button {
    width: 100%;
}

.query-form-title {
    color: white;
    text-align: center;
}

.form-error-text {
    background-color: white;
    border-radius: 10px;
    color:red;
    text-align: center;
}

.gameday-weather-title {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

.weather-box {
    background-color: #500000;
    color: white;
    text-align: center;
    align-self: center;
    border-radius: 10px;
}

.weather-data-area {
    background-color: #D6D3C4;
    color: black;
    margin: 1%;
    border-radius: 10px;
}

.gameinfo-image {
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
    padding: 10px;
}

.no-pass-available-text {
    color: red;
    font-style: bold;
    text-align: center;
    size: 150%;
}

.handicap-image {
    max-height: 20px;
    max-width: auto;
    border-radius: 10px;
}