.tab-styling {
    width: 100%;
}

.login-form {
    max-width: 300px;
}

.login-form-forgot {
   float: right;
}

.login-form-button {
   width: 100%;
}

body {
    background-image: url("./front_end_components/main-background.jpg");
}

.body-background{
    background-color: white;
    margin:2%;
    padding: 1%;
    border-radius:10px;
}

.form-error-text {
    background-color: white;
    border-radius: 10px;
    color:red;
    text-align: center;
}

